
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486393932036'); /* IE9*/
  src: url('iconfont.eot?t=1486393932036#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486393932036') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486393932036') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486393932036#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e601"; }

.icon-weibo:before { content: "\e619"; }

.icon-youjian1:before { content: "\e604"; }

.icon-github:before { content: "\e69f"; }

.icon-iconfont04:before { content: "\e65c"; }

.icon-iconfontbiaozhunmoban01:before { content: "\e612"; }

.icon-dianying:before { content: "\e70e"; }

