.header{
    display: block;
    position: fixed;
    z-index: 10;
    height: 100%;
    background: url(../../images/blog/background-cover.jpg) top left no-repeat #666666;
    background-size: cover;
    width: 22%;
    max-width: 320px;
    top:0;
    left:0;
}

.bg-cover-mask {
    display: block;
    position: fixed;
    z-index: 11;
    width: 22%;
    max-width: 320px;
    height: 100%;
    background: #000;
    opacity: 0.5;
    background-size: cover;
    top:0;
    left:0;
}
.panel-heading{
    padding:0;
    h4{
        margin:0;
        padding-left:20px;
        line-height: 2;
        a{
            color:#fff;
        }
    }
}
.right{
    float:right;
}
.left{
    float: left;
}
.nav-search{
    margin:50px 0 20px 0;
}
.button-group{
    margin:20px 0;
}
.blog-index{
    li{
        a{
            text-decoration: none;
            h4{
                color:#000;
            }
            p{
                color:#333;
            }
            span{
                color:#c7c7c7;
            }
        }
    }
}

.panel {
    display: table;
    width: 100%;
    height: 100%;
}

.panel__vertical {
    display: table-cell;
    vertical-align: middle;
}

.panel-title {
    margin: 0 0 5px 0;
    margin-top: 20px;
    font-size: 1.8em;
    letter-spacing: 4px;
    color: #FFF;
}

.panel-subtitle {
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 0.6em;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #CCCCCC;
    -webkit-font-smoothing: antialiased;
}

.panel-cover--collapsed {
    width: 22%;
    max-width: 320px;
}

.panel-cover--overlay {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(68, 68, 68, 0.6);
    background-image: -webkit-linear-gradient(-410deg, rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
    background-image: linear-gradient(140deg, rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
}

.panel-cover__logo {
    margin-bottom: .2em;
}

.panel-cover__description {
    margin: 0 30px;
}

.panel-cover__divider {
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
}

.panel-cover__divider--secondary {
    width: 15%;
}

.panel-main {
    position: fixed;
    display: table;
    height: 100%;
    top: 0;
    left: 0;
    width: 22%;
    max-width: 320px;
    z-index:12;
}

.panel-main__inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 800;
    padding: 0 0px;
}

.panel-main__content {
    max-width: 620px;
    margin: 0 auto;
}

.panel-main__content--fixed {
    width: 480px;
    transition: width 1s;
    -webkit-transition: width 1s;
    /* Safari */
}

.panel-inverted {
    font-weight: 100;
    text-align: center;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.panel-inverted a {
    color: #FFF;
}

.cover-navigation {
    margin-top: 0px;
    width: 100%;
}

nav {
    display: inline-block;
    position: relative;
}

.navigation {
    display: inline-block;
    position: relative;
    margin: 0;
    list-style-type: none;
}

.btn,
.navigation__item a {
    display: inline-block;
    margin-right: 0px;
    padding: 5px 5px 5px 5px;
    font-size: .6em;
    text-shadow: none;
    color: #BF1827;
}

.navigation__item {
    display: inline-block;
    margin-left: 0px;
    line-height: 1em;
}

.navigation__item a {
    display: inline-block;
    position: relative;
    width: 100%;
    border-color: #666;
    color: #bbb;
    /*opacity: .8; */
}

.navigation__item a:hover {
    color: #fff;
}

.navigation__item_social {
    display: inline-block;
    margin-right: 20px;
    width: 50px;
}

.navigation__item_social a {
    position: relative;
    color: #999;
}

.navigation__item_social a:hover {
    color: #000;
}

.navigation--social a {
    border: 0px;
    padding: 10px 10px 10px 10px;
}

.navigation--social a .label {
    display: none;
}

.navigation--social a .icon {
    display: block;
    font-size: 1.7em;
}
.logo{
    width: 150px;
    margin: 0 auto;
    img{
        display: block;
        width: 150px;
        transform:rotate3d(10deg,10deg,10deg);
    }
}